body {
    padding: 0px;
    background-color: #fff9fc;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1fr 10px 1fr;
    font-family: fantasy;
}

.header {
	color: #ffd6cc;
	text-decoration: underline;
    text-align: center;
    grid-row: 1/1;
    grid-column: 1/4;
}

h2 {
	color: white;
	text-decoration:underline;
	text-align: center;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

.content-left {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: red;
}

.content-right {
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: blue;
}

.window {
    display: none;
    padding: 0px;
}
