body {
    padding: 0px;
    background-color: black;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1fr 10px 1fr;
    font-family: fantasy;
}

.header {
    background-color: #fff9fc;
    text-align: center;
    grid-row: 1/1;
    grid-column: 1/4;
}

.content-left {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: red;
}

.content-right {
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: blue;
}

.window {
    display: none;
    padding: 0px;
}