body {
  padding: 0px;
  background-color: #fff9fc;
}

.menu {
  display: grid;
  grid-template-columns: 10% 1fr 5px 1fr 10%;
  grid-template-rows: 1fr 1fr;
  font-family: fantasy;
}

.header {
  color: #ffd6cc;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  grid-row: 1/1;
  grid-column: 1/6;
}

h1 {
  margin-bottom: 10px;
}

hr {
  margin-top: 0px;
  border: 5px solid #ffd6cc;
  width: 80%;
}

h2 {
  color: #ff9980;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  font-family: Trebuchet MS;
}

.content-left {
  min-width: 300px;
  grid-row: 2/3;
  grid-column: 2/3;
  background: linear-gradient(to bottom right, #fff9fc, #ffebe6);
}

.content-right {
  min-width: 300px;
  grid-row: 2/3;
  grid-column: 4/5;
  background: linear-gradient(to top left, #fff9fc, #ffebe6);
}

.window {
  display: none;
  padding: 0px;
}
